
<div class="container mt-5">

  <div routerLink="/" class="logo-img"></div>
  <div class="row">

    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">Tabla Datos Academicos</span>
          <button class="btn btn-primary float-end" (click)="print()">Imprimir</button>

          <button class="btn btn-custom  float-start" routerLink="/crear-datosAcademicos">Crear Datos Clinicos</button>
          <table *ngIf="tablaDatosAcademicos.length > 0" class="table table-striped table-responsive mt-5">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nivel Educativo</th>
                <th scope="col">Ultimo Grado Escolar</th>
                <th scope="col">Institucion Anterior </th>
                <th scope="col">Area Interes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let datosAcademicos of tablaDatosAcademicos">
                <td>{{ datosAcademicos.Ident }}</td>
                <td>{{ datosAcademicos.nivelEducativo }}</td>
                <td>{{ datosAcademicos.ultimoGradoEscolar }}</td>
                <td>{{ datosAcademicos.institucionAnterior }}</td>
                <td>{{ datosAcademicos.areaInteres }}</td>
                <td>
                  <i [routerLink]="['/edit-datosAcademicos', datosAcademicos._id]" class="fas fa-edit "></i>
                  <i (click)="deleteDatosAcademicos(datosAcademicos._id)" class="fas fa-trash-alt text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 class="no-available" *ngIf="tablaDatosAcademicos.length == 0">No hay datos disponibles</h5>
        </div>
      </div>
    </div>
  </div>
</div>
