
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
          <div class="logo-img"></div>

        </div>
        <div class="image-container">
            <h1>Accion Humana de la Luz Eterna - AHLE</h1>
            <div class="buttons-top">
                <button routerLink="/crear-registro">Registro Ingreso</button>
                <button routerLink="/crear-datosGenerales">Datos Generales</button>
                <button routerLink="/crear-datosClinicos">Datos Clinicos</button>
                <button routerLink="/crear-datosPsi">Datos Psicologicos</button>
            </div>
            <div class="buttons-bottom">
                <button routerLink="/crear-datosEncargado">Informacion Encargado</button>
                <button routerLink="/crear-datosAcademicos">Informacion Educativa</button>
                <button routerLink="/tabla-exInternos">Ex-Internos</button>
            </div>
            <p class="t">Un lugar de esperanza</p>
        </div>

    </div>
</body>
</html>
